In [1]:
#Importing our Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Reading our Data and Creating a DataFrame
Overdose_Deaths = pd.read_csv("VSRR_Provisional_Drug_Overdose_Death_Counts_20240930.csv")
Overdose_Deaths_df = pd.DataFrame(Overdose_Deaths)

C:\Users\Admin\AppData\Local\Temp\ipykernel_24232\198924147.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  Overdose_Deaths = pd.read_csv("VSRR_Provisional_Drug_Overdose_Death_Counts_20240930.csv")

In [2]:
#Displaying our DataPoints
Overdose_Deaths_df

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, ...",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,Cocaine (T40.5),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
68203,YC,2024,March,12 month-ending,Psychostimulants with abuse potential (T43.6),237.000000,100,0.405502,New York City,Underreported due to incomplete data.,*,250.0
68204,YC,2024,March,12 month-ending,Heroin (T40.1),618.000000,100,0.405502,New York City,Underreported due to incomplete data.,*,648.0
68205,YC,2024,March,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",2528.000000,100,0.405502,New York City,Underreported due to incomplete data.,*,2653.0
68206,YC,2024,March,12 month-ending,Natural & semi-synthetic opioids (T40.2),387.000000,100,0.405502,New York City,Underreported due to incomplete data.,*,406.0
68207,YC,2024,March,12 month-ending,Percent with drugs specified,99.764151,100,0.405502,New York City,Underreported due to incomplete data.,*,NaN

In [3]:
#Removing any NaN values we find within our rows
Clean_Overdose_df = Overdose_Deaths_df.dropna()
print(Clean_Overdose_df)

      State  Year     Month           Period  \
6        AK  2015     April  12 month-ending
15       AK  2015    August  12 month-ending
33       AK  2015  December  12 month-ending
41       AK  2015  February  12 month-ending
51       AK  2015   January  12 month-ending
...     ...   ...       ...              ...
68202    YC  2024     March  12 month-ending
68203    YC  2024     March  12 month-ending
68204    YC  2024     March  12 month-ending
68205    YC  2024     March  12 month-ending
68206    YC  2024     March  12 month-ending

                                               Indicator  Data Value  \
6                         Number of Drug Overdose Deaths       126.0
15                        Number of Drug Overdose Deaths       124.0
33                        Number of Drug Overdose Deaths       121.0
41                        Number of Drug Overdose Deaths       127.0
51                        Number of Drug Overdose Deaths       126.0
...                                                  ...         ...
68202  Natural & semi-synthetic opioids, incl. methad...       654.0
68203      Psychostimulants with abuse potential (T43.6)       237.0
68204                                     Heroin (T40.1)       618.0
68205                        Opioids (T40.0-T40.4,T40.6)      2528.0
68206           Natural & semi-synthetic opioids (T40.2)       387.0

      Percent Complete  Percent Pending Investigation     State Name  \
6                  100                       0.000000         Alaska
15                 100                       0.000000         Alaska
33                 100                       0.000000         Alaska
41                 100                       0.000000         Alaska
51                 100                       0.000000         Alaska
...                ...                            ...            ...
68202              100                       0.405502  New York City
68203              100                       0.405502  New York City
68204              100                       0.405502  New York City
68205              100                       0.405502  New York City
68206              100                       0.405502  New York City

                                                Footnote Footnote Symbol  \
6      Numbers may differ from published reports usin...              **
15     Numbers may differ from published reports usin...              **
33     Numbers may differ from published reports usin...              **
41     Numbers may differ from published reports usin...              **
51     Numbers may differ from published reports usin...              **
...                                                  ...             ...
68202              Underreported due to incomplete data.               *
68203              Underreported due to incomplete data.               *
68204              Underreported due to incomplete data.               *
68205              Underreported due to incomplete data.               *
68206              Underreported due to incomplete data.               *

       Predicted Value
6                126.0
15               124.0
33               121.0
41               127.0
51               126.0
...                ...
68202            685.0
68203            250.0
68204            648.0
68205           2653.0
68206            406.0

[40389 rows x 12 columns]

In [4]:
#Removing some columns we will not be needing
Clean_Overdose_df.drop(columns=['Footnote', 'Footnote Symbol', 'Period'], inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_24232\3351364639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clean_Overdose_df.drop(columns=['Footnote', 'Footnote Symbol', 'Period'], inplace=True)

In [5]:
Clean_Overdose_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40389 entries, 6 to 68206
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          40389 non-null  object
 1   Year                           40389 non-null  int64
 2   Month                          40389 non-null  object
 3   Indicator                      40389 non-null  object
 4   Data Value                     40389 non-null  float64
 5   Percent Complete               40389 non-null  object
 6   Percent Pending Investigation  40389 non-null  float64
 7   State Name                     40389 non-null  object
 8   Predicted Value                40389 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 3.1+ MB

In [6]:
#Reorganizing our Columns to be better alligned
Clean_Overdose_df = Clean_Overdose_df[['State', 'State Name', 'Year', 'Month', 'Indicator', 'Data Value', 'Percent Complete', 'Percent Pending Investigation', 'Predicted Value']]

Clean_Overdose_df

,State,State Name,Year,Month,Indicator,Data Value,Percent Complete,Percent Pending Investigation,Predicted Value
6,AK,Alaska,2015,April,Number of Drug Overdose Deaths,126.0,100,0.000000,126.0
15,AK,Alaska,2015,August,Number of Drug Overdose Deaths,124.0,100,0.000000,124.0
33,AK,Alaska,2015,December,Number of Drug Overdose Deaths,121.0,100,0.000000,121.0
41,AK,Alaska,2015,February,Number of Drug Overdose Deaths,127.0,100,0.000000,127.0
51,AK,Alaska,2015,January,Number of Drug Overdose Deaths,126.0,100,0.000000,126.0
...,...,...,...,...,...,...,...,...,...
68202,YC,New York City,2024,March,"Natural & semi-synthetic opioids, incl. methad...",654.0,100,0.405502,685.0
68203,YC,New York City,2024,March,Psychostimulants with abuse potential (T43.6),237.0,100,0.405502,250.0
68204,YC,New York City,2024,March,Heroin (T40.1),618.0,100,0.405502,648.0
68205,YC,New York City,2024,March,"Opioids (T40.0-T40.4,T40.6)",2528.0,100,0.405502,2653.0
68206,YC,New York City,2024,March,Natural & semi-synthetic opioids (T40.2),387.0,100,0.405502,406.0

In [7]:
#Displaying our final version of our DataFrame
print(Clean_Overdose_df)

      State     State Name  Year     Month  \
6        AK         Alaska  2015     April
15       AK         Alaska  2015    August
33       AK         Alaska  2015  December
41       AK         Alaska  2015  February
51       AK         Alaska  2015   January
...     ...            ...   ...       ...
68202    YC  New York City  2024     March
68203    YC  New York City  2024     March
68204    YC  New York City  2024     March
68205    YC  New York City  2024     March
68206    YC  New York City  2024     March

                                               Indicator  Data Value  \
6                         Number of Drug Overdose Deaths       126.0
15                        Number of Drug Overdose Deaths       124.0
33                        Number of Drug Overdose Deaths       121.0
41                        Number of Drug Overdose Deaths       127.0
51                        Number of Drug Overdose Deaths       126.0
...                                                  ...         ...
68202  Natural & semi-synthetic opioids, incl. methad...       654.0
68203      Psychostimulants with abuse potential (T43.6)       237.0
68204                                     Heroin (T40.1)       618.0
68205                        Opioids (T40.0-T40.4,T40.6)      2528.0
68206           Natural & semi-synthetic opioids (T40.2)       387.0

      Percent Complete  Percent Pending Investigation  Predicted Value
6                  100                       0.000000            126.0
15                 100                       0.000000            124.0
33                 100                       0.000000            121.0
41                 100                       0.000000            127.0
51                 100                       0.000000            126.0
...                ...                            ...              ...
68202              100                       0.405502            685.0
68203              100                       0.405502            250.0
68204              100                       0.405502            648.0
68205              100                       0.405502           2653.0
68206              100                       0.405502            406.0

[40389 rows x 9 columns]

In [8]:
#Downloading our Data as a Json file for continued coding
Clean_Overdose_df.to_json("Cleaned_Overdose_Data", orient="records", lines=True)

In [9]:
#Downloading our Data as a CSV file for continued coding
Clean_Overdose_df.to_json("Cleaned_Overdose_Data", orient="records", lines=True)