In [4]:
#Importing our Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Reading our Data and Creating a DataFrame
Overdose_Deaths = pd.read_csv("VSRR_Provisional_Drug_Overdose_Death_Counts_20240930.csv")
Overdose_Deaths_df = pd.DataFrame(Overdose_Deaths)

C:\Users\Admin\AppData\Local\Temp\ipykernel_11024\198924147.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  Overdose_Deaths = pd.read_csv("VSRR_Provisional_Drug_Overdose_Death_Counts_20240930.csv")

In [6]:
#Displaying our DataPoints
Overdose_Deaths_df

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,Natural & semi-synthetic opioids (T40.2),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, ...",NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,Cocaine (T40.5),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
68203,YC,2024,March,12 month-ending,Psychostimulants with abuse potential (T43.6),237.000000,100,0.405502,New York City,Underreported due to incomplete data.,*,250.0
68204,YC,2024,March,12 month-ending,Heroin (T40.1),618.000000,100,0.405502,New York City,Underreported due to incomplete data.,*,648.0
68205,YC,2024,March,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",2528.000000,100,0.405502,New York City,Underreported due to incomplete data.,*,2653.0
68206,YC,2024,March,12 month-ending,Natural & semi-synthetic opioids (T40.2),387.000000,100,0.405502,New York City,Underreported due to incomplete data.,*,406.0
68207,YC,2024,March,12 month-ending,Percent with drugs specified,99.764151,100,0.405502,New York City,Underreported due to incomplete data.,*,NaN

In [8]:
Overdose_Deaths_df.dropna()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
6,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126.0,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,126.0
15,AK,2015,August,12 month-ending,Number of Drug Overdose Deaths,124.0,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,124.0
33,AK,2015,December,12 month-ending,Number of Drug Overdose Deaths,121.0,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,121.0
41,AK,2015,February,12 month-ending,Number of Drug Overdose Deaths,127.0,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,127.0
51,AK,2015,January,12 month-ending,Number of Drug Overdose Deaths,126.0,100,0.000000,Alaska,Numbers may differ from published reports usin...,**,126.0
...,...,...,...,...,...,...,...,...,...,...,...,...
68202,YC,2024,March,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",654.0,100,0.405502,New York City,Underreported due to incomplete data.,*,685.0
68203,YC,2024,March,12 month-ending,Psychostimulants with abuse potential (T43.6),237.0,100,0.405502,New York City,Underreported due to incomplete data.,*,250.0
68204,YC,2024,March,12 month-ending,Heroin (T40.1),618.0,100,0.405502,New York City,Underreported due to incomplete data.,*,648.0
68205,YC,2024,March,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",2528.0,100,0.405502,New York City,Underreported due to incomplete data.,*,2653.0
68206,YC,2024,March,12 month-ending,Natural & semi-synthetic opioids (T40.2),387.0,100,0.405502,New York City,Underreported due to incomplete data.,*,406.0

In [10]:
Overdose_Deaths_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68208 entries, 0 to 68207
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          68208 non-null  object
 1   Year                           68208 non-null  int64
 2   Month                          68208 non-null  object
 3   Period                         68208 non-null  object
 4   Indicator                      68208 non-null  object
 5   Data Value                     56058 non-null  float64
 6   Percent Complete               68208 non-null  object
 7   Percent Pending Investigation  68208 non-null  float64
 8   State Name                     68208 non-null  object
 9   Footnote                       63563 non-null  object
 10  Footnote Symbol                63336 non-null  object
 11  Predicted Value                44490 non-null  float64
dtypes: float64(3), int64(1), object(8)
memory usage: 6.2+ MB

In [17]:
Overdose_Deaths_df.to_json("Cleaned_Overdose_Data", orient="records", lines=True)